.colnav {
  background-color: #9ff1f1;
}

.textnav {
  font-weight: bold !important;
  color: #000000 !important;
}
.divform {
  position: relative;
  width: 400px;
  height: 400px;
  top: 85px;
  left: 25px;
  border: 2px solid #9ff1f1 !important;
  border-radius: 50px;
}

.form {
  position: relative;
  width: 300px;
  height: 300px;
  top: 60px;
  left: 25px;
}
