.colnav {
  background-color: #9ff1f1;
}

.textnav {
  font-weight: italic bold !important;
  color: #000000 !important;
}
.divform {
  position: relative;
  width: 400px;
  height: 400px;
  top: 85px;
  left: 25px;
  border: 2px solid #9ff1f1 !important;
  border-radius: 50px;
}

.form {
  position: relative;
  width: 300px;
  height: 300px;
  top: 60px;
  left: 25px;
}

.logo {
  position: relative;
  width: 50px;
  height: 50px;
  left: 100px;
  top: 40px;
  border: 2px solid #9ff1f1 !important;
  border-radius: 50px;
}

.img {
  width: 20px;
  height: 20px;
}
.err {
  width: 100%;
  display: block;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  outline: 0;
  border: 1px solid;
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 0.25rem rgb(252, 165, 165);
}
